@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.header {
  background-color: #115af7;
  height: 12rem;
  text-align: center;
  font-family: "roboto", Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 3%;
}